<?php
/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'url' => 'sqlite:///' . dirname(__DIR__, 2) . '/data/db/sample.db',
                ],
            ],
        ],
    ],
    'mail' => [
        // Depending on your mail server, you may be restricted to one sender only which
        // must match the 'username' config value from the 'swiftmailer' config.
        'app_senders' => [
            'sender-one@example.org' => 'Sender One Name',
        ],
        'switfmailer' => [
            'host' => 'localhost',
            'port' => 25,
            'encryption' => null, // usually 'ssl' or 'tls'
            'username' => '',
            'password' => '',
        ],
    ],
];
